button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  padding: .5rem;
  user-select: none;

  &:hover,
  &.active {
    background-color: rgba(white, .5);
  }

  &:focus {
    outline: 0;
  }
}
